<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="Tests/Phpunit/Bootstrap.php" backupGlobals="true" colors="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">"./src"</directory>
    </include>
    <report>
      <clover outputFile="coverage/phpunit/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="SalPlug Test Suite">
      <directory suffix="Test.php">./Tests/Phpunit</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
